.members-item__group {
    display: grid;
    gap: 30px;
}
.members-item {
    width: 250px;
}
.members-item__img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius:50%;
}
.members-item .hidden {
    display: none !important;
}

.grid-cols-2{
    grid-template-columns: 1fr 1fr ;
}
.grid-cols-3{
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-cols-4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}